body {
    margin: 0;
    padding: 0;
    background: #000;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 300px;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    transform-style: preserve-3d;
}

.container .face img {
    width: 100%;
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

.container .back img {
    width: 100%;
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

.container .card {
    position: relative;
    transform-style: preserve-3d;
    background: rgb(0, 0, 0, 0);
}

.container .card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    backface-visibility: hidden;
    transition: 0.9s;
    transform-style: preserve-3d;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
}

.container .card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    backface-visibility: hidden;
    transition: 0.9s;
    transform-style: preserve-3d;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
    transform: rotateY(180deg);
}

.container:hover .face {
    transform: rotateY(-180deg);
}

.container:hover .back {
    transform: rotateY(0deg);
}